// ================================ ·
// ADD TRANSFER
// ================================ ·

.c-add-transfer {
  @include bem-element( action ) {
    @include flex-flow( row , nowrap );
    &:not( .collapsed ) {
      .c-button {
        background-color: $darker-gray;
        border-color: $darker-gray;
        color: white;
      }
      i.fa-plus:before {
        content: "\f068";
      }
    }
  }
  @include bem-element( body ) {
    font-weight: bold;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
  }
  @include bem-element( form-wrapper ) {
    @include respond-to($mobilexs) {
      padding-right: map_get( map_get($c-buttons-sizes, md) , height ) + 6px;
      @include rtl {
        padding-right: 0;
        padding-left: map_get( map_get($c-buttons-sizes, md) , height ) + 6px;
      }
    }
  }
  @include bem-element( form ) {
    padding: $sizemd;
    label {
      color: inherit !important;
    }
    .pe-timepicker {
      display: block;
    }
    .c-add-transfer__form-wrapper & {
      background: $lightest-gray;
      border: $s-bdr--lighter;
    }
  }
  @include bem-element( button-wrapper ) {
    @include respond-to($tablet) {
      margin-top: 25px;
    }
  }
  @include bem-element( search-button ) {
    width: 100%;
  }
}