// ================== ·
// DESTINATIONS OPTIONS
// Opciones de tu viaje en la pagina de destinos
// Esta en el #col-left de destinos
// ================== ·

.c-destinations-options{
  @include transition();
  @include flexible-container( row , nowrap , null , space-between );
  color: $dark-gray;
  background-color: white;
  height: $c-destinations-options__x;
  overflow: hidden;
  @include respond-to($tablet){
    margin-top: -$c-destinations-options__x;
    .button-toggle-dragdrop{
      color: white;
      border-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .c-destinations-options__buttons{
      margin-right: -$c-destinations-options__x;
      .fa-arrows-alt-v{
        display: none;
      }
      .fa-bars::before{
        content: "\f00d";
      }
    }
    .c-destinations-options__body{
      margin-top: -$c-destinations-options__x;
    }
    .is-draganddrop &{
      margin-top: 0;
    }
  }
}

.c-destinations-options__body{
  margin-top: 0;
  transition-duration: .5s;
  & > * {
    height: $c-destinations-options__x;
  }
  .is-draganddrop &{
    margin-top: -$c-destinations-options__x;
  }
}
.c-destinations-options__parameters{
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  padding: 5px;
}
.c-destinations-options__edit{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  font-size: $font-size--tiny;
  text-transform: uppercase;
  font-weight: bold;
  padding:6px 10px;
  i {
    margin-bottom: 3px;
  }
}
.c-destinations-options__info{
  font-size: $font-size--small;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-left: $sizex;
}
.c-destinations-options__buttons{
  display: flex;
  transition-duration: .5s;
  .btn{
    display: flex;
    align-items: center;
    padding: 0;
    width: $c-destinations-options__x;
    text-align: center;
    justify-content: center;
    border-radius: 0 !important;
    &:not(.active){
      border-left: $s-bdr--lighter;
    }
    .is-draganddrop &.button-toggle-dragdrop{
      @extend %bg-clr-hover--danger;
      color: white;
      border-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .is-draganddrop &{
    margin-right: -$c-destinations-options__x;
    .fa-arrows-alt-v{
      display: none;
    }
    .fa-bars::before{
      content: "\f00d";
    }
  }
}
.c-destinations-options__draganddrop-message{
  display: flex;
  padding-left: 10px;
  align-items: center;
  font-weight: bold;
}
