// ================================ ·
// DESTINATION HEADING
// ================================ ·

.c-destination-heading {
  position: relative;
  border-radius: $border-radius--xs;
  overflow: hidden;
  color: white;
  min-height: $c-destination-heading__height;
  &.hasnt-image {
    min-height: $c-destination-heading__height--hasnt-image;
  }
  @include bem-element( img ) {
    @include position-absolute(0, 0, 0, 0, 0, null, null);
    height: 100%;
    img{
      @include img-cover( none );
    }
    .has-image & {
      position: relative;
      @include img-overlaying(absolute);
    }
  }
  @include bem-element( main ) {
    @include flexible-container(column, nowrap, null, center);
    min-height: $c-destination-heading__height;
    .hasnt-image & {
      min-height: $c-destination-heading__height--hasnt-image;
    }
    position: relative;
    justify-content: space-between;
    height: 100%;
    padding: $sizemd;
    padding-left: $sizelg;
    @include rtl {
      padding-left: $sizemd;
      padding-right: $sizelg;
    }
    @include respond-to($tablet) {
      padding-left: $sizehuge;
      @include rtl {
        padding-left: $sizemd;
        padding-right: $sizehuge;
      }
      .c-timeline__content & {
        padding-left: $c-microservice__img-col-width;
        @include rtl {
          padding-left: $sizemd;
          padding-right: $c-microservice__img-col-width;
        }
      }
    }
    & > * {
      flex: 1 1;
    }
  }
  @include bem-element( body ) {
    @include flexible-container( column , nowrap , null , flex-end );
    @include respond-to($mobilexs) {
      @include flex-flow( column-reverse , null );
      justify-content: space-between;
    }
  }
  @include bem-element( title ) {
    margin: 0;
    margin-top: $sizesx;
    font-weight: bold;
    font-size: $font-size--NEW;
    text-shadow: 0 3px 6px rgba( black , .16 );
    @include respond-to( $mobilexs ) {
      font-size: $font-size--bigger;
    }
  }
  @include bem-element( details ) {
    @include respond-to($mobilexs) {
      text-align: right;
      @include rtl {
        text-align: left;
      }
    }
  }
  @include bem-element( messages ) {
    margin-bottom: $sizesx;
    & > *{
      margin-bottom: 0;
      &:not(:first-child){
        margin-top: $sizesx;
      }
    }
    @include respond-to($mobilexs) {
      max-width: 300px;
      margin: 0;
    }
  }
  @include bem-element( footer ) {
    @include flexible-container( $d: column-reverse , $x: flex-start , $y: space-between);
    margin-top: $sizex;
    @include respond-to($mobilexs){
      @include flexible-container( $d: row-reverse , $x: flex-end , $y: space-between);
      padding-top: $sizemd;
      min-height: map_get( map_get($c-buttons-sizes, md) , height );
      margin: 0;
    }
  }
  @include bem-element( action ) {
    @include respond-to( $mobilexs ) {
      width: auto;
      justify-content: flex-end;
    }
  }
  // Arreglos para Tablet vertical
  @include respond-to-between( $mobile , $tablet ) {
    @include bem-element( footer ) {
      @include flexible-container( $d: column-reverse , $x: flex-start , $y: space-between);
      margin-top: $sizex;
    }
    @include bem-element( messages ) {
      max-width: none;
    }
    @include bem-element( body ) {
      @include flexible-container( column , null , null , flex-end );
    }
    @include bem-element( footer ) {
      min-height: initial;
    }
    @include bem-element( details ) {
      text-align: left;
      @include rtl {
        text-align: right;
      }
    }
  }
}