// ================================ ·
// BORRAR CUANDO SE PONGA EL NUEVO FAST CONFIRM
// ================================ ·
.box-your-idea {
  .panel-footer{
    padding: 0;
  }
  .confirm-button {
    height:  map_get( map_get($c-buttons-sizes, md) , height );
    @include border-top-radius( 0 );
    @include display-inline-flex;
    @include align-items(center);
    transition: $transitions-duration;
    justify-content: center;
    font-size: $font-size;
    i {
      margin-right: $sizesx;
      .rtl & {
        margin-right: 0;
        margin-left: $sizesx;
      }
    }
  }
}
// ================================ ·
// ^^^^^^ BORRAR CUANDO SE PONGA EL NUEVO FAST CONFIRM
// ================================ ·

body.summary #col-left.col-left--sticky {
  @include respond-to( $mobile ) {
    top: 100px;
    position: sticky;
    z-index: 40;
  }
}

// ================================ ·
// FAST CONFIRM
// ================================ ·
.c-fast-confirm {
  @include bem-element( heading ){
    @include border-top-radius( $border-radius );
    padding: $sizesx $sizex;
    background-color: $brand-color;
    color: white;
  }
  @include bem-element( hero ){
    height: $c-fast-confirm__hero__height;
    padding: $sizemd $sizex;
    position: relative;
    color: white;
    @include display-flex;
    @include align-items( flex-end );
    @include bem-element( img ) {
      @include img-overlaying();
      @include position-absolute( 1 , 0 , null , null , 0 , 100% , $c-fast-confirm__hero__height );
      &::after {
        background: rgba(17,17,17,0);
        background: -moz-linear-gradient(top, rgba(17,17,17,0) 30%, rgba(33,33,33,0.85) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(17,17,17,0)), color-stop(100%, rgba(33,33,33,0.85)));
        background: -webkit-linear-gradient(top, rgba(17,17,17,0) 30%, rgba(33,33,33,0.85) 100%);
        background: -o-linear-gradient(top, rgba(17,17,17,0) 30%, rgba(33,33,33,0.85) 100%);
        background: -ms-linear-gradient(top, rgba(17,17,17,0) 30%, rgba(33,33,33,0.85) 100%);
        background: linear-gradient(to bottom, rgba(17,17,17,0) 30%, rgba(33,33,33,0.85) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#212121', GradientType=0 );
      }
      img {
        @include img-cover( $c-fast-confirm__hero__height );
      }
    }
    @include bem-element( body ) {
      z-index: 2;
      position: relative;
      width: 100%;
    }
    @include bem-modifier( transport ) {
      align-items: center;
    }
  }
  @include bem-element( body ){
    padding: $sizemd $sizex;
    background-color: white;
    border: $s-bdr--lighter;
    border-width: 0 1px;
  }
  @include bem-element( button ){
    @include border-top-radius( 0 );
  }
}
