// ================================ ·
// RENTACAR SUMMARY
// ================================ ·

.c-rentacar-summary {
  @include display-flex;
  @include flex-flow(row, wrap);
  justify-content: space-evenly;
  @include bem-element(icon) {
    height: map_get(map_get($o-meddia-sizes, sm), img-size);
    border-radius: $border-radius;
    i {
      font-size: $font-size--big;
    }
  }
  @include bem-element(detail) {
    margin-bottom: $sizemd;
  }
}