// ================================ ·
// TRANSPORT HEADING
// ================================ ·

// Animacion transporte

@-o-keyframes transport-heading{
  0% {left: 12px; opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  100% {left: 95%;opacity: 0;}
}

@-moz-keyframes transport-heading {
  0% {left: 12px; opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  100% {left: 95%; opacity: 0;}
}

@keyframes transport-heading {
  0% {left: 12px; opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  100% {left: 95%; opacity: 0;}
}

@-o-keyframes transport-heading--rtl{
  0% {right: 12px; opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  100% {right: 95%;opacity: 0;}
}

@-moz-keyframes transport-heading--rtl {
  0% {right: 12px; opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  100% {right: 95%; opacity: 0;}
}

@keyframes transport-heading--rtl {
  0% {right: 12px; opacity: 0;}
  30% {opacity: 1;}
  70% {opacity: 1;}
  100% {right: 95%; opacity: 0;}
}

// Css transport Heading
.c-transport-heading{
  width: 100%;
  @include display-flex;
  @include flex-flow( column , wrap );
  & > * {
    flex-basis: auto;
  }
  @include bem-element( scheme ) {
    @include display-flex;
    @include flex-flow( row , nowrap );
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 3px 0;
    min-width: 100%;
    margin: 0;
    &::after {
      background-color: #ddd;
      border-radius: 2px;
      @include position-absolute( 0 , 50% , 18px , null , 18px , initial , 2px );
      margin-top: -1px;
      background: rgba(221,221,221,0);
      background: -moz-linear-gradient(left, rgba(221,221,221, 0) 0%, rgba(221,221,221,1) 30%, rgba(221,221,221,1) 70%, rgba(221,221,221, 0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(221,221,221, 0)), color-stop(20%, rgba(221,221,221,1)), color-stop(30%, rgba(221,221,221,1)), color-stop(70%, rgba(221,221,221,1)), color-stop(80%, rgba(221,221,221,1)), color-stop(100%, rgba(221,221,221, 0)));
      background: -webkit-linear-gradient(left, rgba(221,221,221, 0) 0%, rgba(221,221,221,1) 30%, rgba(221,221,221,1) 70%, rgba(221,221,221, 0) 100%);
      background: -o-linear-gradient(left, rgba(221,221,221, 0) 0%, rgba(221,221,221,1) 30%, rgba(221,221,221,1) 70%, rgba(221,221,221, 0) 100%);
      background: -ms-linear-gradient(left, rgba(221,221,221, 0) 0%, rgba(221,221,221,1) 30%, rgba(221,221,221,1) 70%, rgba(221,221,221, 0) 100%);
      background: linear-gradient(to right, rgba(221,221,221, 0) 0%, rgba(221,221,221,1) 30%, rgba(221,221,221,1) 70%, rgba(221,221,221, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd', GradientType=1 );
    }
  }
  @include bem-element( point ) {
    @include cercle( 10px );
    border-style: solid;
    border-width: 2px;
    position: relative;
  }
  @include bem-element( icon ){
    @include transition;
    animation: transport-heading 12s linear 0s infinite normal;
    @include cercle( 20px );
    @include content-center;
    background-color: white;
    position: absolute;
    z-index: 1;
    @include rtl {
      animation-name: transport-heading--rtl;
    }
  }
  @include bem-element( name ){
    font-weight: bold;
    @include respond-to-reverse($mobile) {
      text-align: center;
    }
    small {
      color: $light-gray;
      font-weight: normal;
    }
  }
  @include respond-to($mobilexs) {
    @include flex-flow( row , wrap );
    justify-content: space-between;
    @include bem-element( scheme ){
      order: 3;
    }
  }
  // Tablet vertical
  @include respond-to-between( $mobile , $tablet ) {
    @include flex-flow( column , nowrap );
    align-items: center;
    justify-content: initial;
    @include bem-element( scheme ){
      order: initial;
    }
  }
}