// ================================ ·
// TRAVEL DETAILS
// ================================ ·

.c-travel-details {
  margin-bottom: $sizemd;
  @include bem-element( item ) {
    margin-top: $sizesx;
  }
  @include bem-element( button ) {
    & + .c-travel-details__item {
      margin-top: $sizemd;
    }
  }

  @include respond-to( $mobilexs ) {
    @include flexible-container( row , wrap , null , null );
    margin-right: -$sizesx;
    .c-travel-details__item {
      margin-right: $sizesx;
      flex: 1 1 45%;
    }
  }

  @include respond-to( $mobile ) {
    display: block;
    margin-right: 0;
    .c-travel-details__item {
      margin-right: 0;
    }
  }
  .summary & {
    @include respond-to( $tablet ) {
      margin-bottom: 0;
    }
  }
}

// ================================ ·
// TRAVEL DETAIL
// Esto lo pongo aqui provisionalmente
// pasara a ser un componente formado por dos átomos
// ================================ ·

.c-travel-detail {
  @include display-flex;
  height: map_get( map_get($c-buttons-sizes, md) , height );
  background-color: white;
  border: $s-bdr--light;
  border-radius: $border-radius;
  color: $dark-gray;
  & > * {
    @include flexible-container( row , nowrap , center , null );
  }
  @include bem-element( icon ) {
    min-width: map_get( map_get($c-buttons-sizes, md) , height );
    justify-content: center;
    font-size: $font-size--middle;
    border-right: $s-bdr--light;
    @include rtl {
      border-right: none;
      border-left: $s-bdr--light;
    }
  }
  @include bem-element( content ) {
    width: 100%;
    justify-content: space-between;
    padding: 0 $sizex;
  }
}