// ====================================== ·
// DISPLAY - GENERIC
// ====================================== ·

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

$sizex: 10px !default;
$sizesx: $sizex / 2 !default;
$sizemd: $sizex * 2 !default;
$sizelg: $sizemd * 2 !default;
$sizehuge: $sizelg * 2 !default;

$margin-default: $sizex !default;
$margin-md: $margin-default * 2 !default;
$margin-lg: $margin-default * 4 !default;

$border-radius: 4px !default;
$border-radius--xs: $border-radius / 2 !default;
$border-radius--md: $border-radius * 2 !default;

$positions-default: (top, bottom, left, right) !default;

// Breakpoints
// ========================== ·
$mobilexs: 600px !default;
$mobile: 768px !default;
$tablet: 992px !default;
$desktop: 1200px !default;
$desktop-lg: 1500px !default;

$s-breakpoints: (
  xs: $mobilexs,
  sm: $mobile,
  md: $tablet,
  lg: $desktop,
  xl: $desktop-lg
) !default;

$s-mobile-grid-breakpoints: (
  xs: $mobilexs,
  sm: $mobile,
) !default;

$s-grid-breakpoints: (
  xx: 0,
  xs: $mobilexs,
  sm: $mobile,
  md: $tablet,
  lg: $desktop,
  xl: $desktop-lg
) !default;