// ====================================== ·
// FONTS - GENERAL
// ====================================== ·

// Familia
// ====================================== ·
// $font-family: 'Roboto, sans serif' !default;
$font_family: 'Roboto', sans-serif !default;

// Tamaños de fuentes finales
// ====================================== ·
// Tamaño por defecto
// ================ ·
$font-size: 14px !default; // font-size: 16 * .875px;

// Otros tamaños
// ================ ·
$font-size--tiny: 8px !default; // Cambiar por: font-size: 16 * .75px; y font-size: 16 * .675px;
$font-size--small: 12px !default; // Cambiar por: font-size: 16 * .75px; y font-size: 16 * .675px;
$font-size--middle: 16px !default; // Cambiar por: font-size: 16 * 1px;
$font-size--big: 20px !default; // Cambiar por: font-size: 16 * 1.25px;
$font-size--NEW: 24px !default; // Cambiar por: font-size: 16 * 1.25px;
$font-size--bigger: 30px !default;
$font-size--huge: 48px !default;

// Mapa de tamaños genéricos de fuente
// ================ ·
$s-grid-font-sizes: (
  default: $font-size,
  tiny: $font-size--tiny,
  small: $font-size--small,
  middle: $font-size--middle,
  big: $font-size--big,
  bigger: $font-size--bigger,
  huge: $font-size--huge,
) !default;

$line-height--percentage: 1.25 !default;

$line-height--tiny:     $font-size--tiny    * $line-height--percentage !default;
$line-height--small:    $font-size--small   * $line-height--percentage !default;
$line-height--middle:   $font-size--middle  * $line-height--percentage !default;
$line-height--big:      $font-size--big     * $line-height--percentage !default;
$line-height--NEW:      $font-size--NEW     * $line-height--percentage !default;
$line-height--bigger:   $font-size--bigger  * $line-height--percentage !default;
$line-height--huge:     $font-size--huge    * $line-height--percentage !default;