// ====================================== ·
// COLORS - COMPONENTS
// Aqui se deciden los colores de todos los componentes
// Separado por Atomic design
// ====================================== ·

// ===================== ·
// Atomos
// ===================== ·

// Input
$c-input__color--default: $dark-gray !default;

// Point checkbox
$c-point-checkbox--clr-active: $success-color !default;
$c-point-checkbox--clr-desactive: $middle-gray !default;

// ===================== ·
// Moleculas
// ===================== ·



// ===================== ·
// Organismos
// ===================== ·