// ====================================== ·
// COLORS - GENERAL
// Colores por defecto
// ====================================== ·

// Colores corporativos
// ========================= ·
$brand-color:               #A3A3A4 !default;
$brand-dark-color:          #212121 !default;
$brand-secondary-color:     #0088CC !default;

// Colores de gris
// ========================= ·
$lightest-gray:             #f7f7f7 !default;
$lighter-gray:              #E3E3E3 !default;
$light-gray:                #C2C2C2 !default;
$middle-gray:               #A2A2A2 !default;
$dark-gray:                 #707070 !default;
$darker-gray:               #4e4e4e !default;
$darkest-gray:              #393939 !default;
$black-color:               #000000 !default;

// Colores de ruta
// ========================= ·
$route-colors1:             #1A658F !default;
$route-colors2:             #B94C52 !default;
$route-colors3:             #C6A464 !default;
$route-colors4:             #367D4D !default;
// Origen
$origin-route-color:        $darkest-gray !default;

// Colores de stado
// ========================= ·
$success-color:             #5EBB3F !default;
$action-color:              #FF6600 !default;
$warning-color:             #F7A827 !default;
$danger-color:              #E01D1D !default;

// Colores de rating
// ========================= ·
$hotel-star-clr:            #F7A827 !default;
// Nuestro Rating
$clr-rating-25:             #ff0000 !default;
$clr-rating-50:             #E98626 !default;
$clr-rating-75:             #FFBD42 !default;
$clr-rating-100:            #5EBB3F !default;
// Marcas
$tripadvisor-color:         #589442 !default;
$booking-color:             #0896ff !default;
$holidaycheck-color:        #006fb7 !default;

// Otros
// ========================= ·

// Provider
$provider-message-color:    $middle-gray !default;
