// ====================================== ·
// SETTINGS - COLORS - INDEX
// ====================================== ·

// BRAND
// ========================= ·
$s-color-brand-primary:       #A3A3A4 !default;
$s-color-brand-dark:          #212121 !default;
$s-color-brand-secondary:     #0088CC !default;

$s-map-color-brand: (
  brand:                      $s-color-brand-primary,
  brand-secondary:            $s-color-brand-secondary,
  brand-dark:                 $s-color-brand-dark,
) !default;

// GRAY
// ========================= ·
$s-color-gray-lightest:       #f7f7f7 !default;
$s-color-gray-lighter:        #E3E3E3 !default;
$s-color-gray-light:          #C2C2C2 !default;
$s-color-gray-middle:         #A2A2A2 !default;
$s-color-gray-dark:           #707070 !default;
$s-color-gray-darker:         #4e4e4e !default;
$s-color-gray-darkest:        #393939 !default;
$s-color-gray-black:          black !default;

$s-map-color-gray: (
  lightest-gray:              $s-color-gray-lightest,
  lighter-gray:               $s-color-gray-lighter,
  light-gray:                 $s-color-gray-light,
  middle-gray:                $s-color-gray-middle,
  dark-gray:                  $s-color-gray-dark,
  darker-gray:                $s-color-gray-darker,
  darkest-gray:               $s-color-gray-darkest,
) !default;

// ROUTE
// ========================= ·
$s-color-route-1:             #1A658F !default;
$s-color-route-2:             #B94C52 !default;
$s-color-route-3:             #C6A464 !default;
$s-color-route-4:             #367D4D !default;
$s-color-route-origin:        $s-color-gray-darkest !default;

$s-map-color-route--travelling: (
  0 :                         $s-color-route-origin,
  1:                          $s-color-route-1,
  2:                          $s-color-route-2,
  3:                          $s-color-route-3,
  4:                          $s-color-route-4,
) !default;

$s-map-color-route--origin: (
  origin :                    $s-color-route-origin,
  0 :                         $s-color-route-origin,
) !default;

// STATE
// ========================= ·
$s-color-state-success:       #5EBB3F !default;
$s-color-state-action:        #FF6600 !default;
$s-color-state-warning:       #F7A827 !default;
$s-color-state-danger:        #E01D1D !default;

$s-map-color-state: (
  success:                    $s-color-state-success,
  action:                     $s-color-state-action,
  warning:                    $s-color-state-warning,
  danger:                     $s-color-state-danger,
  grray:                      $s-color-gray-middle,
) !default;

// RATING
// ========================= ·
$s-color-rating-25:           #ff0000 !default;
$s-color-rating-50:           #E98626 !default;
$s-color-rating-75:           #FFBD42 !default;
$s-color-rating-100:          #5EBB3F !default;

// HOTEL STARS
$s-color-rating-hotel-star:   #F7A827 !default;

// RATINGS BRAND
$s-color-rating-tripadvisor:  #589442 !default;
$s-color-rating-booking:      #0896ff !default;
$s-color-rating-holidaycheck: #006fb7 !default;

$s-map-color-rating: (
  rating25:                   $s-color-rating-25,
  rating50:                   $s-color-rating-50,
  rating75:                   $s-color-rating-75,
  rating100:                  $s-color-rating-100,
) !default;

// PROVIDER MESSAGE
$s-color-provider:            $s-color-gray-middle !default;

// REWARDS TROPHY
$s-color-rewards-trophy:      #F7A827 !default;

// PRICE DIFFERENCE
$s-clr-price-difference-general:            false !default;
$s-clr-price-difference-neutral:            false !default;
$s-clr-price-difference-positive:           false !default;
$s-clr-price-difference-negative:           $s-color-state-success !default;

