// ====================================== ·
// SETTINGS - ELEMENTS
// ====================================== ·

// Body
$s-body-bg-color:       #f7f7f7;
$s-body-font-size:      #{$s-font-size};
$s-body-line-height:    1.15;
$s-body-font-family:    '#{$s-font-family-general}', sans-serif;
$s-body-font-color:     $s-color-gray-darkest;
