// ====================================== ·
// SETTINGS - STYLES
// Nuevos estilos genéricos
// ====================================== ·

// TIPOGRAFÍA
// =============== ·
$s-font-clr--brand-primary:         $s-color-brand-primary                    !default;
$s-font-clr--brand-secondary:       $s-color-brand-secondary                  !default;
$s-font-clr--brand-dark:            $s-color-brand-dark                       !default;

$s-font-clr--gray-lightest:         $s-color-gray-lightest                    !default;
$s-font-clr--gray-lighter:          $s-color-gray-lighter                     !default;
$s-font-clr--gray-light:            $s-color-gray-light                       !default;
$s-font-clr--gray-middle:           $s-color-gray-middle                      !default;
$s-font-clr--gray-dark:             $s-color-gray-dark                        !default;
$s-font-clr--gray-darker:           $s-color-gray-darker                      !default;
$s-font-clr--gray-darkest:          $s-color-gray-darkest                     !default;

// BACKGROUNDS
// =============== ·
$s-bg-clr--brand:                   $s-color-brand-primary                    !default;
$s-bg-clr--brand-secondary:         $s-color-brand-secondary                  !default;
$s-bg-clr--brand-dark:              $s-color-brand-dark                       !default;

$s-bg-clr--lightest:                $s-color-gray-lightest                    !default;
$s-bg-clr--lighter:                 $s-color-gray-lighter                     !default;
$s-bg-clr--light:                   $s-color-gray-light                       !default;
$s-bg-clr--middle:                  $s-color-gray-middle                      !default;
$s-bg-clr--dark:                    $s-color-gray-dark                        !default;
$s-bg-clr--darker:                  $s-color-gray-darker                      !default;
$s-bg-clr--darkest:                 $s-color-gray-darkest                     !default;

$s-bg-clr-hover--lightest:          $s-color-gray-lightest                    !default;
$s-bg-clr-hover--lighter:           $s-color-gray-lighter                     !default;

$s-bg-clr-hover--lightest--alpha:   rgba( $s-color-gray-black , .05)          !default;
$s-bg-clr-hover--lighter--alpha:    rgba( $s-color-gray-black , .2)           !default;

$s-bg-clr--desactive:               $s-color-gray-lightest                    !default;

// BORDERS
// =============== ·
$s-bdr-clr--brand-primary:          $s-color-brand-primary                    !default;
$s-bdr-clr--brand-dark:             $s-color-brand-dark                       !default;

$s-bdr-clr--lightest:               $s-color-gray-lightest                    !default;
$s-bdr-clr--lighter:                $s-color-gray-lighter                     !default;
$s-bdr-clr--light:                  $s-color-gray-light                       !default;
$s-bdr-clr--middle:                 $s-color-gray-middle                      !default;
$s-bdr-clr--dark:                   $s-color-gray-dark                        !default;
$s-bdr-clr--darker:                 $s-color-gray-darker                      !default;
$s-bdr-clr--darkest:                $s-color-gray-darkest                     !default;

// Con style y width
$s-bdr--brand-primary:              1px solid $s-bdr-clr--brand-primary       !default;
$s-bdr--lightest:                   1px solid $s-bdr-clr--lightest            !default;
$s-bdr--lighter:                    1px solid $s-bdr-clr--lighter             !default;
$s-bdr--light:                      1px solid $s-bdr-clr--light               !default;
$s-bdr--dark:                       1px solid $s-bdr-clr--dark                !default;
$s-bdr--darker:                     1px solid $s-bdr-clr--darker              !default;
$s-bdr--darkest:                    1px solid $s-bdr-clr--darkest             !default;

// IMAGENES
// =============== ·
$s-image__overlaying-bg--color:           $s-color-gray-darkest               !default;
$s-image__overlaying-bg--opacity:         40                                  !default;
$s-image__overlaying-bg--opacity--soft:   20                                  !default;
$s-image__overlaying-bg:                  rgba( $s-color-gray-darkest , $s-image__overlaying-bg--opacity / 100 )        !default;
$s-image__overlaying-bg--soft:            rgba( $s-color-gray-darkest , $s-image__overlaying-bg--opacity--soft / 100 )  !default;

// DYNAMIC BOX
// =============== ·
$s-bdr-box-dynamic--desactive:            null                                !default;
$s-bg-clr-box-dynamic:                    white                               !default;
$s-bg-clr-box-dynamic--desactive:         $s-bg-clr--desactive                !default;
$s-bg-clr-box-dynamic--desactive--bars:   white                               !default;
