// ====================================== ·
// VAR - STYLES
// Estilos genéricos
// ====================================== ·

// Tipografía
// =============== ·
$s-font-clr--brand: $brand-color !default;
$s-font-clr--brand-secondary: $brand-secondary-color !default;

// Backgorunds
// =============== ·
$s-bg-clr--brand: $brand-color !default;
$s-bg-clr--brand-secondary: $brand-secondary-color !default;

$s-bg-clr--lightest: $lightest-gray !default;
$s-bg-clr--lighter: $lighter-gray !default;
$s-bg-clr--light: $light-gray !default;

$s-bg-clr-hover--lightest: $lightest-gray !default;
$s-bg-clr-hover--lightest: $lighter-gray !default;

$s-bg-clr-hover--lightest--alpha: rgba( $black-color , .05) !default;
$s-bg-clr-hover--lighter--alpha: rgba( $black-color , .2) !default;

// Borders
// =============== ·
$s-bdr-clr--lightest: $lightest-gray !default;
$s-bdr-clr--lighter: $lighter-gray !default;
$s-bdr-clr--light: $light-gray !default;

$s-bdr--lightest: 1px solid $s-bdr-clr--lightest !default;
$s-bdr--lighter: 1px solid $s-bdr-clr--lighter !default;
$s-bdr--light: 1px solid $s-bdr-clr--light !default;

// Imagenes
// =============== ·
$s-image__overlaying-bg--color: $darkest-gray !default;
$s-image__overlaying-bg--opacity: 40 !default;
$s-image__overlaying-bg: rgba( $darkest-gray , $s-image__overlaying-bg--opacity / 100 ) !default;