// ================= ·
// FRONT LAB
// Estilos para la seccion de Front
// ================= ·

// Variables y opciones genericas en el Front Lab
// ============================================ ·
@import "settings";


// Estilos
// ============================================ ·
@mixin frontlab{

  .fb-body {
    background-color: $fb-bg-body !important;
    font-size: $font-size !important;
    color: $darker-gray !important;
  }

}

// Activacion con condicion de variable
// ============================================ ·
@if $s-frontlab {
  @include frontlab;
}