// ================================ ·
// ELEMENTS - INDEX
// ================================ ·

body {
    font: $s-body-font-size/$s-body-line-height $s-body-font-family;
    background-color: $s-body-bg-color;
    color: $s-body-font-color;
}