// =================== ·
// ATOMOS - ATOM SIZE
// =================== ·

.c-atom-size {
    @each $size-name, $size-value in $s-map-atom-size-height {
        @include t-bem-modifier($size-name) {
            &,
            &.c-button {                
                height: $size-value;
                min-width: map-get($s-map-atom-size-min-width, $size-name);
                font-size: map-get($s-map-atom-size-font-size, $size-name);
            }
            &.c-button {
                letter-spacing: map-get($s-map-button-traking, $size-name);
            }
        }
    }
}
