// ================================ ·
// C-CONTINENT
// ================================ ·

.c-continent{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  & > * {
    width: 100%;
  }
}
.c-continent__img{
  padding: 3px;
  border-radius: $border-radius;
  height: 30px;
  margin-right: 10px;
  width: 30px;
  min-width: 30px;
  text-align: center;
  img{
    height: 100%;
    -webkit-filter: invert(1) brightness(150%);
    filter: invert(1) brightness(150%);
  }
}
