// ================================ ·
// INPUTS
// ================================ ·

.c-input {
  @include display-flex;
  @include align-items;
  color: $c-input__color--default;
  border-color: transparent;
  border-radius: $border-radius;
  border: $s-bdr--light;
  background-color: white;
  padding: map_get( map_get($c-input-sizes, md) , padding );
  font-size: map_get( map_get($c-input-sizes, md) , font-size );
  & , &[size] {
    height: map_get( map_get($c-input-sizes, md) , height );
  }
  // Cambios de forma --------------
  // Tamaño
  @include bem-modifier( md ){
    padding: map_get( map_get($c-input-sizes, md) , padding );
    font-size: map_get( map_get($c-input-sizes, md) , font-size );
    & , &[size] {
      height: map_get( map_get($c-input-sizes, md) , height );
    }
  }
  @include bem-modifier( sm ) {
    padding: map_get( map_get($c-input-sizes, sm) , padding );
    font-size: map_get( map_get($c-input-sizes, sm) , font-size );
    & , &[size] {
      height: map_get( map_get($c-input-sizes, sm) , height );
    }
  }
  @include bem-modifier( lg ) {
    padding: map_get(map_get($c-input-sizes, lg), padding);
    font-size: map_get(map_get($c-input-sizes, lg), font-size);
    & , &[size] {
      height: map_get(map_get($c-input-sizes, lg), height);
    }
  }
  @include bem-modifier( block ) {
    width: 100%;
  }
}