// =================== ·
// POINT CHECKBOX
// Checkbox con la animacion del circulo en activo y desactivo
// =================== ·

.c-point-checkbox {
  margin: 0;
  cursor: pointer;
  .c-point-checkbox__input {
    opacity: 0;
    width: 0;
    height: 0;
    border: 0;
  }
  @include bem-element( point ) {
    @include position-absolute( null , 50% , null , null , 0 , null , null );
    @include cercle( $c-point-checkbox__point-size );
    margin-top: -( $c-point-checkbox__point-size / 2 );
    background-color: $c-point-checkbox--clr-desactive;
    @include transition;
  }
  @include bem-element( container ) {
    margin: 3px 0;
    display: block;
    width: $c-point-checkbox__width;
    height: $c-point-checkbox__height;
    position: relative;
    border-radius: $c-point-checkbox__height;
    background-color: mix( white , $c-point-checkbox--clr-desactive , 60% );
    border: 1px solid mix( white , $c-point-checkbox--clr-desactive , 30% );

    // ACTIVO
    .c-point-checkbox__input:checked + & {
      background-color: mix( white , $c-point-checkbox--clr-active , 60% );
      border: 1px solid mix( white , $c-point-checkbox--clr-active , 30% );
      .c-point-checkbox__point {
        @include box-shadow( 0 , 2px , 2px , black , 24% );
        left: $c-point-checkbox__width - $c-point-checkbox__point-size;
        background-color: $c-point-checkbox--clr-active;
      }
    }

  }
}