// ================================ ·
// ROUTE DATE
// Cajita de fechas o noches
// Esta en el Travelroute y en el Timeline
// ================================ ·

.c-route-date{
  @include content-center();
  padding: 7px 0;
  position: relative;
  color: white;
  text-shadow: 0 0 2px rgba( black , 0.2 );
  @include fixed-size( $c-route-date__size--mobile );
  @include bem-element(title) {
    font-size: $font-size;
  }
  @include bem-element(small) {
    font-size:10px;
    margin-top: 2px;
    line-height: 0;
    margin-bottom: 7px;
    i + & {
      font-size: $font-size--small;
      margin-top: 7px;
    }
  }
  @include bem-element(arrow) {
    @include position-absolute( 1 , null, null, ( -#{$c-route-date__arrow-size * 2 - 1}px ), 50% , 0 , 0 );
    margin-left: -#{$c-route-date__arrow-size}px;
    border-width: #{$c-route-date__arrow-size}px;
    border-style: solid;
  }
  @include bem-element(separator) {
    margin: 10px 0;
  }
  @include respond-to( $mobilexs ) {
    max-width: $c-route-date__size;
    min-width: $c-route-date__size;
    width: $c-route-date__size;
  }
}