// =================== ·
// TAG
// =================== ·

.c-tag{
  @include display-inline-flex;
  @include align-items(center);
  justify-content: center;
  border: 1px solid transparent;
  padding: map_get( map_get($c-tag-sizes, sm) , padding );
  font-size: map_get( map_get($c-tag-sizes, sm) , font-size );
  height: map_get( map_get($c-tag-sizes, sm) , height );
  border-radius: map_get( map_get($c-tag-sizes, sm) , height );
  i {
    font-size: map_get( map_get($c-tag-sizes, sm) , font-size ) - 2px;
  }
  * + * {
    margin-left: $sizesx;
  }
  @each $name , $color in $c-tag-colors {
    @include bem-modifier( $name ) {
      color: white;
      background-color: $color;
      border-color: mix( black , $color , 10% );
    }
  }
  @include bem-modifier( default ) {
    border-color: $lighter-gray;
    color: #777171;
  }
  @include bem-modifier( "white" ) {
    border-color: white;
    color: white;
  }
  @include bem-modifier( sm ) {
    padding: map_get( map_get($c-tag-sizes, sm) , padding );
    font-size: map_get( map_get($c-tag-sizes, sm) , font-size );
    height: map_get( map_get($c-tag-sizes, sm) , height );
    border-radius: map_get( map_get($c-tag-sizes, sm) , height );
    i {
      font-size: map_get( map_get($c-tag-sizes, sm) , font-size ) - 2px;
    }
  }
  @include bem-modifier( md ) {
    padding: map_get( map_get($c-tag-sizes, md) , padding );
    font-size: map_get( map_get($c-tag-sizes, md) , font-size );
    height: map_get( map_get($c-tag-sizes, md) , height );
    border-radius: map_get( map_get($c-tag-sizes, md) , height );
    i {
      font-size: map_get( map_get($c-tag-sizes, md) , font-size ) - 2px;
    }
  }
  @include bem-modifier( lg ) {
    padding: map_get( map_get($c-tag-sizes, lg) , padding );
    font-size: map_get( map_get($c-tag-sizes, lg) , font-size );
    height: map_get( map_get($c-tag-sizes, lg) , height );
    border-radius: map_get( map_get($c-tag-sizes, lg) , height );
    i {
      font-size: map_get( map_get($c-tag-sizes, lg) , font-size ) - 2px;
    }
  }
  &[class*="bg-clr"] {
    color: white;
  }
  // Opciones de responsive para los botones
  @each $keyname , $size in $s-mobile-grid-breakpoints {
    @include respond-to($size) {

      @include bem-modifier(sm\@#{$keyname}){
        padding: map_get( map_get($c-tag-sizes, sm) , padding );
        font-size: map_get( map_get($c-tag-sizes, sm) , font-size );
        height: map_get( map_get($c-tag-sizes, sm) , height );
        border-radius: map_get( map_get($c-tag-sizes, sm) , height );
        i {
          font-size: map_get( map_get($c-tag-sizes, sm) , font-size ) - 2px;
        }
      }
      @include bem-modifier(md\@#{$keyname}){
        padding: map_get( map_get($c-tag-sizes, md) , padding );
        font-size: map_get( map_get($c-tag-sizes, md) , font-size );
        height: map_get( map_get($c-tag-sizes, md) , height );
        border-radius: map_get( map_get($c-tag-sizes, md) , height );
        i {
          font-size: map_get( map_get($c-tag-sizes, md) , font-size ) - 2px;
        }
      }
      @include bem-modifier(lg\@#{$keyname}){
        padding: map_get( map_get($c-tag-sizes, lg) , padding );
        font-size: map_get( map_get($c-tag-sizes, lg) , font-size );
        height: map_get( map_get($c-tag-sizes, lg) , height );
        border-radius: map_get( map_get($c-tag-sizes, lg) , height );
        i {
          font-size: map_get( map_get($c-tag-sizes, lg) , font-size ) - 2px;
        }
      }

      // Efecto blanco
      @include bem-modifier(white\@#{$keyname}){
        background-color: transparent;
        border: 1px solid white;
        color: white;
      }
    }
  }
  @include bem-modifier( none-radius ) {
    border-radius: $border-radius--xs;
  }
}