// ====================================== ·
// SETTINGS - COLORS - INDEX
// ====================================== ·

// Brand
$s-color-brand:               #FECA38 !default;

// Gray
$s-color-gray-lightest:       #F7F7F7 !default;
$s-color-gray-lighter:        #EEEEEE !default;
$s-color-gray-light:          #C2C2C2 !default;
$s-color-gray-darkest:        #333333 !default;

// State
$s-color-state-success:       #468966 !default;
$s-color-state-warning:       #FFF0A5 !default;
$s-color-state-danger:        #B64926 !default;

