// ================================ ·
// MIXIN - FORMS
// Herramientas creacion de formas basicas
// Ejemplo: circulos, rentangulos, cuadrados... etc etc
// ================================ ·

// FIXED SIZE
// Cuando queremos obligar a que tenga un tamaño
// ====================
@mixin t-fixed-size(  $size , $property: 'width' ) {
  #{$property}: $size;
  min-#{$property}: $size;
  max-#{$property}: $size;
}

// RECTANGLE
// Crea un rectangulo
// Si solo le pasamos un valor, lo hace cuadrado
// Si le decimos que es requerido le oblida a medir eso, aunque este en un contenedor flexible
// ====================
@mixin t-rectangle( $w, $h: false , $required: false ) {
  @if $required == false {
    width: $w;
    @if $h == false {
      height: $w;
    } @else {
      height: $h;
    }
  } @else {
    @include t-fixed-size($w, width);
    @if $h == false {
      @include t-fixed-size($w, height);
    } @else {
      @include t-fixed-size($h, height);
    }
  }
}

// CERCLE
// Crea un circulo
// ====================
@mixin t-cercle( $w, $h: false , $required: false ) {
  @include t-rectangle($w, $h, $required);
  border-radius: $w * 10;
}

// POSITION PROPERTIES
// Coordenadas de la posicion de un elemento
// ====================
@mixin t-position-properties( $t, $r, $b, $l , $position: absolute ) {
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  position: $position;
}

// POSITION
// Ayuda a poner en una sola linea todas las caracteristicas de un position
// Normalmente su utilidad es cuando es `absoute` o `fixed`
// ====================
@mixin t-position( $zi, $t, $r, $b, $l, $w: auto, $h: auto , $display: block , $position: absolute ) {

  content: ' ';
  z-index: $zi;

  // TIPO DE DISPLAY
  @if $display == 'flex' {
    @include t-display-flex;
  } @else if $display == 'inline-flex' {
    @include t-display-inline-flex;
  } @else {
    display: $display;
  }
  @include t-rectangle($w, $h);
  @include t-position-properties($t, $r, $b, $l, $position);
}

// POSITION MIDDLE
// Para cuando se quiere poner centrado un elemento con posicion absoluta, al 50% y margen negativo
// ====================
@mixin t-position-middle( $negative-margin , $direction: vertical , $position: absolute , $zindex: null ) {
  position: $position;
  z-index: $zindex;
  @if $direction == vertical {
    top: 50%;
    margin-top: -$negative-margin;
  } @else if $direction == horizontal {
    left: 50%;
    margin-left: -$negative-margin;
  } @else {
    @error 'la direccion de t-position-middle tiene que ser horizontal o vertical'
  }
}
