// ================================ ·
// MIXIN - BROWSERS
// Añade los prefijos a las caracteristicas
// de css que lo necesitan navegadores
// ================================ ·

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin display-inline-flex() {
  display: -webkit-flex;
  display: inline-flex;
}

@mixin flex-flow( $d , $w ) {
  -webkit-flex-flow: $d $w;
  flex-flow: $d $w;
}

@mixin align-items( $i: center ) {
  -webkit-align-items: $i;
  align-items: $i;
}

@mixin align-content($i) {
  -webkit-align-content: $i;
  align-content: $i;
}

@mixin align-self($i) {
  -webkit-align-self: $i;
  align-self: $i;
}

@mixin flexible-container( $d : row , $w : nowrap , $x : center , $y : center , $display: flex ) {
  @if $display != 'flex' {
    @if $display == 'inline-flex' {
      @include display-inline-flex;
    }
    @else {
      display: $display;
    }
  }
  @else {
    @include display-flex();
  }
  @include flex-flow( $d , $w );
  @include align-items($x);
  justify-content: $y;
}

@mixin content-center( $display: flex ) {
  @include flexible-container( column , null , center , center , $display );
}

// Transiciones
@mixin transition( $time: $transitions-duration , $prop: false ) {
  @if $prop {
    -webkit-transition: $prop $time;
    -moz-transition: $prop $time;
    -ms-transition: $prop $time;
    -o-transition: $prop $time;
    transition: $prop $time;
  }
  @else {
    -webkit-transition-duration: $time;
    -moz-transition-duration: $time;
    -ms-transition-duration: $time;
    -o-transition-duration: $time;
    transition-duration: $time;
  }
}

// Box shadow
@mixin box-shadow( $h: 0 , $v: 0 , $b: 0 , $c: black , $o: 50% , $inset: false ){
  @if $h == none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  @else {
    @if $inset == false {
      -webkit-box-shadow: $h $v $b rgba( $c , $o);
      -moz-box-shadow: $h $v $b rgba( $c , $o);
      box-shadow: $h $v $b rgba( $c , $o);
    }
    @else {
      -webkit-box-shadow: inset $h $v $b rgba( $c , $o);
      -moz-box-shadow: inset $h $v $b rgba( $c , $o);
      box-shadow: inset $h $v $b rgba( $c , $o);
    }
  }
}